<div class="container mt-100">

  <div class="search-input">
    <div class="row mb-3">
      <div class="col-md-10 col-sm-10 col-10">
        <input type="text" class="form-control form-control-lg" placeholder="">
      </div>
      <div class="col-md-2 col-sm-2 col-2">
        <a class="btn btn-lg btn-outline-secondary" type="button">
          <i class="bi bi-search"></i> Rechercher
        </a>
      </div>
    </div>
  </div>

  <section>
    <div class="card mb-3">
      <div class="card-body">
        <div class="row">
          <div class="col-md-6 col-sm-12 col-12">
            <div class="row g-3 align-items-center">
              <div class="col-auto">
                <label class="col-form-label">Prénom:</label>
              </div>
              <div class="col-auto">
                <span id="passwordHelpInline" class="form-text">
                  Didierson
                </span>
              </div>
            </div>
            <div class="row g-3 align-items-center">
              <div class="col-auto">
                <label class="col-form-label">Nom:</label>
              </div>
              <div class="col-auto">
                <span id="passwordHelpInline" class="form-text">
                  Amuri
                </span>
              </div>
            </div>
            <div class="row g-3 align-items-center">
              <div class="col-auto">
                <label class="col-form-label">Sexe:</label>
              </div>
              <div class="col-auto">
                <span id="passwordHelpInline" class="form-text">
                  Masculin
                </span>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-sm-12 col-12">
            <div class="row g-3 align-items-center">
              <div class="col-auto">
                <label class="col-form-label">Age:</label>
              </div>
              <div class="col-auto">
                <span id="passwordHelpInline" class="form-text">
                  29 ans
                </span>
              </div>
            </div>
            <div class="row g-3 align-items-center">
              <div class="col-auto">
                <label class="col-form-label">Ville:</label>
              </div>
              <div class="col-auto">
                <span id="passwordHelpInline" class="form-text">
                  Kinshasa
                </span>
              </div>
            </div>
            <div class="row g-3 align-items-center">
              <div class="col-auto">
                <label class="col-form-label">Pays:</label>
              </div>
              <div class="col-auto">
                <span id="passwordHelpInline" class="form-text">
                  République Démocratique du Congo
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="card mb-3">
      <div class="card-body">
        <div class="row">
          <div class="col-md-6 col-sm-12 col-12">
            <div class="row g-3 align-items-center">
              <div class="col-auto">
                <label class="col-form-label">Prénom:</label>
              </div>
              <div class="col-auto">
                <span id="passwordHelpInline" class="form-text">
                  Didierson
                </span>
              </div>
            </div>
            <div class="row g-3 align-items-center">
              <div class="col-auto">
                <label class="col-form-label">Nom:</label>
              </div>
              <div class="col-auto">
                <span id="passwordHelpInline" class="form-text">
                  Amuri
                </span>
              </div>
            </div>
            <div class="row g-3 align-items-center">
              <div class="col-auto">
                <label class="col-form-label">Sexe:</label>
              </div>
              <div class="col-auto">
                <span id="passwordHelpInline" class="form-text">
                  Masculin
                </span>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-sm-12 col-12">
            <div class="row g-3 align-items-center">
              <div class="col-auto">
                <label class="col-form-label">Age:</label>
              </div>
              <div class="col-auto">
                <span id="passwordHelpInline" class="form-text">
                  29 ans
                </span>
              </div>
            </div>
            <div class="row g-3 align-items-center">
              <div class="col-auto">
                <label class="col-form-label">Ville:</label>
              </div>
              <div class="col-auto">
                <span id="passwordHelpInline" class="form-text">
                  Kinshasa
                </span>
              </div>
            </div>
            <div class="row g-3 align-items-center">
              <div class="col-auto">
                <label class="col-form-label">Pays:</label>
              </div>
              <div class="col-auto">
                <span id="passwordHelpInline" class="form-text">
                  République Démocratique du Congo
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="card mb-3">
      <div class="card-body">
        <div class="row">
          <div class="col-md-6 col-sm-12 col-12">
            <div class="row g-3 align-items-center">
              <div class="col-auto">
                <label class="col-form-label">Prénom:</label>
              </div>
              <div class="col-auto">
                <span id="passwordHelpInline" class="form-text">
                  Didierson
                </span>
              </div>
            </div>
            <div class="row g-3 align-items-center">
              <div class="col-auto">
                <label class="col-form-label">Nom:</label>
              </div>
              <div class="col-auto">
                <span id="passwordHelpInline" class="form-text">
                  Amuri
                </span>
              </div>
            </div>
            <div class="row g-3 align-items-center">
              <div class="col-auto">
                <label class="col-form-label">Sexe:</label>
              </div>
              <div class="col-auto">
                <span id="passwordHelpInline" class="form-text">
                  Masculin
                </span>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-sm-12 col-12">
            <div class="row g-3 align-items-center">
              <div class="col-auto">
                <label class="col-form-label">Age:</label>
              </div>
              <div class="col-auto">
                <span id="passwordHelpInline" class="form-text">
                  29 ans
                </span>
              </div>
            </div>
            <div class="row g-3 align-items-center">
              <div class="col-auto">
                <label class="col-form-label">Ville:</label>
              </div>
              <div class="col-auto">
                <span id="passwordHelpInline" class="form-text">
                  Kinshasa
                </span>
              </div>
            </div>
            <div class="row g-3 align-items-center">
              <div class="col-auto">
                <label class="col-form-label">Pays:</label>
              </div>
              <div class="col-auto">
                <span id="passwordHelpInline" class="form-text">
                  République Démocratique du Congo
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

</div>
