<div class="container mt-100">

  <div class="search-input">
    <div class="row mb-3">
      <form [formGroup]="searchForm" (ngSubmit)="fetchGithubUser()">
        <div class="form-label-group">
          <input formControlName="username" type="text" class="form-control form-control-lg" placeholder="" [ngClass]="{ 'is-invalid': isLoading && search_Form.username.errors }">
          <div *ngIf="isLoading && search_Form.username.errors" class="invalid-feedback">
            <span>Veuillez renseigner un nom d'utilisateur Github pour le rechercher</span>
          </div>
        </div>

      </form>
    </div>
  </div>

  <section>
    <p *ngIf="isFinish">{{total_count}} résultats trouvé correspondant à <strong>'{{search_Form.username.value}}'</strong></p>
    <div class="card mb-3" *ngFor="let user of users$">
      <div class="card-body">
        <div class="row">
          <div class="col-md-2 col-sm-2 col-2">
            <img src="{{user.avatar_url}}" alt="" width="100">
          </div>
          <div class="col-md-10 col-sm-10 col-10">
            <h3>{{user.login}}</h3>
            <a href="{{user.html_url}}" >Profil Github</a>
          </div>
        </div>
      </div>
    </div>
  </section>

</div>
